@charset "UFT-8";

@media screen and (max-width: 730px) {
    html {
        overflow-x: hidden;
    }

    .container {
        width: 100%;
    }

    nav ul {
        display: none;
    }

    .mobile-icon-menu {
        display: block;
    }

    .mobile-icon-menu button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2em;
    }

    .mobile-menu ul li {
        margin: .5rem 0;
        display: flex;
    }

    .btn {
        margin-left: 0;
        color: #fff;
    }


    .mobile-menu ul li a:not(.btn) {
        width: 100%;
        color: #006DC5;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        justify-content: center;
        padding: 1rem 0;
        border-radius: 1em;
        border: 3px solid #006DC5;
    }

    .btn {
        width: 100%;
        color: #FFF;
        font-size: 1.2em;
        font-weight: bold;
        text-transform: uppercase;
        justify-content: center;
        padding: 1rem 0;
        border-radius: 1em;
        border: 3px solid #006DC5;
    }    

    .open {
        display: block;
    }

    .bg1, .bg2, .bg3 {
        height: 60vh;
    }

    .text p {
        text-align: center;
        font-size: 1.3em;
    }

    /* Banner */
    .banner {
        height: 65vh;
    }

    /* Section Nossas Soluções */
    .nossas-solucoes   p {
        font-size: 1.2em;
        padding: 0;
    }

    .nossas-solucoes ul {
        flex-direction: column;
    }

    .nossas-solucoes ul li {
        width: 100%;
        margin-top: .5em;
    }

    /* Section Cases de Sucesso */
    .cards {
        flex-direction: column;
    }

    .cards .card {
        width: 100%;
        margin-top: 1.5em;
    }

    /* Section Localização e Contato */
    .contato-info {
        flex-direction: column;
    }

    .contato-info .left-side,
    .contato-info .right-side {
        width: 100%;
    }

    .contato-info .left-side {
        margin-bottom: 2em;
    }
}