@charset "UFT-8";

@media screen and (max-width: 730px) {
    html {
        overflow-x: hidden;
    }

    .container {
        width: 90%;
    }

    nav ul {
        display: none;
    }

    .bg1, .bg2, .bg3 {
        height: 60vh;
    }

    .text p {
        text-align: center;
        font-size: 1.3em;
    }

    /* Banner */
    .banner {
        height: 65vh;
    }

    /* Section Nossas Soluções */
    .nossas-solucoes   p {
        font-size: 1.2em;
        padding: 0;
    }

    .nossas-solucoes ul {
        flex-direction: column;
    }

    .nossas-solucoes ul li {
        width: 100%;
        margin-top: .5em;
    }

    /* Section Cases de Sucesso */
    .cards {
        flex-direction: column;
    }

    .cards .card {
        width: 100%;
        margin-top: 1.5em;
    }

    /* Section Localização e Contato */
    .contato-info {
        flex-direction: column;
    }

    .contato-info .left-side,
    .contato-info .right-side {
        width: 100%;
    }

    .contato-info .left-side {
        margin-bottom: 2em;
    }
}