@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Inter', sans-serif;
}

section {
    padding: 4.5em 0;
}


h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #0000009C;
}

h3 {
    font-size: 1em;
    margin: .5em 0;
}

p {
    color: #0000009C;
    line-height: 1.5em;
    font-size: 1.2em;
}

.logo img {
    width: 120px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 1em;
}

nav ul li a {
    font-size: .9em;
    color: #0000009C;
    display: block;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
}
/*A animação ocorrerá em todos os links, menos no link de classe .btn*/
nav ul li a:not(.btn):after {
    content: "";
    background-color: #4F9CF9;
    height: 3px;
    width: 0%;
    display: block;
    transition: .3s;
    margin: 0 auto;
}

nav ul li a:hover::after {
    width: 100%;
}

.destaque {
    text-transform: uppercase;
    font-weight: bold;
    color: #006DC5;
}

/*Escondendo o Menu Mobile na versão Desktop*/
.mobile-icon-menu,
.mobile-menu {
    display: none;
}

/* Padrão Elementos */
/* Container */
.container {
    /* border: 1px solid black; */
    max-width: 70vw; /*Não ultrapassará de 65% da tela do dispositivo*/
    margin: 0 auto;
}
/* Backgrounds */
.background-image {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/* Botões */
.btn {
    font-size: 1em;
    color: #FFF;
    background-color: #006DC5;
    padding: 10px 20px;
    margin-left: 1em;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    transition: .1s;
}

.btn.btn-animate {
    animation: animate-outline 1s ease-out infinite;
}

.btn:hover {
    background-color: #3580DB;
}

@keyframes animate-outline {
    from {
        outline: 0px solid #4F9CF98A;
    }
    to {
        outline: 15px solid #4F9BF900;
    }
}

/* END CONFIG HEADER */

/* SLIDER */
.text {
    display: flex;
    height: 100%;
    align-items: center;
    color: #0000009C;
    font-size: 2em;
    font-weight: bold;
}

.dot {
    height: 1em;
    width: 1em;
    margin: 0 .2em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active {
    background-color: #006DC5;
}
  
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
  
.bg1, .bg2, .bg3 {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
}
  
.bg1 {
    background-image: url('../img/slide-bg1.jpg');
}
  
.bg2 {
    background-image: url('../img/slide-bg21.jpg');
}
  
.bg3 {
    background-image: url('../img/slide-bg3.jpg');
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
/* ./SLIDER*/

/* BANNER CONFIG */
.banner {
    display: flex;
    justify-content: center;
    height: 55vh;
    padding: 0 1em;
}

.background-banner-home {
    background-image: url('../img/background-home.jpg');
}

.banner .banner-text {
    /* margin: 150px; Espaçamento fora do conteúdo do texto do banner */
    text-align: center;
    /* padding: 0 90px; */
}

.banner .banner-text h1 {
    font-size: 4em;
    color: #FFF;
    margin-top: 1em;
}

.banner .banner-text p {
    font-size: 1.3em;
    color: #FFFFFFB7;
    font-weight: lighter;
    margin: 2em 0;
}

/*SECTION CONHEÇA NOSSAS SOLUÇÕES */
.nossas-solucoes .container {
    text-align: center;
    /* border: 1px solid blue; */
}

.nossas-solucoes p {
    padding: 0 .5em;
}

.nossas-solucoes ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 1.5em;
}

.nossas-solucoes ul li {
    width: 30%;
    border-radius: 1em;
    padding: 0;
}

.nossas-solucoes ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #006DC5;
    font-size: 1.4em;
    padding: .5em;
    border-radius: 1em;
    width: 100%;
    border: 3px solid transparent;
    transition: .3s;
}

.nossas-solucoes ul li a:hover {
    border: 3px solid #3580DB;
}

.nossas-solucoes ul li a h3 {
    width: 60%;
}

.nossas-solucoes ul li a img {
    width: 30%;
}

/* SECTION CASES DE SUCESSO */
.cases {
    background-color: #ccc;
}

.cases p {
    text-align: center;
}

.cards {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

.cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
    border-radius: 1em;
    width: 30%;
    padding: 1em;
    scale: 1;
    transition: .3s;
}

.cards .card:hover {
    scale: 1.1;
}

.cards .card .card-title {
    font-size: 1.5em;
    text-align: center;
    color: #006DC5;
}

.cards .card .card-info p {
    font-size: 1em;
    text-align: left;
}

.cards .card .card-link a {
    display: block;
    text-align: end;
    color: #006DC5;
    font-weight: 600;
}

/* SECTION LOCALIZACAO E CONTATO */
.contato .container p {
    text-align: center;
    margin-bottom: 1.5em;
}

.contato .mapa {
    border-top: 4px solid #006DC5;
    border-bottom: 4px solid #006DC5;
}

.contato-info {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.contato-info .left-side {
    width: 50%;
    padding: 3em 2em;
    background-color: #006DC5;
    border-radius: 1em;
    margin-right: 3em;
    height: fit-content;
}

.contato-info .left-side div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato-info .left-side div i {
    color: #FFF;
    font-size: 2em;
    text-align: center;
}

.contato-info .left-side div p {
    font-size: 1.2em;
    color: #FFF;
}

.contato-info .right-side {
    width: 50%;
    text-align: end;
}

.contato-info .right-side label {
    display: none;
}

.contato-info .right-side input,
.contato-info .right-side select,
.contato-info .right-side textarea {
    display: block;
    border: 3px solid #CCC;
    color: #212121;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    margin-bottom: 10px;
    transition: .3s;
    font-size: .8em;
}

.contato-info .right-side input::placeholder {
    font-size: 1.1em;
}

.contato-info .right-side select {
    font-size: .8em;
}

.contato-info .right-side textarea {
    /*Retira a possibilidade de redimencionar o tamanho do textarea com o mouse
     * (canto inferior direito do textarea) */
    resize: none;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus {
    border-color: #4F9BF9;
    border-width: 3px;
}

.contato-info .right-side button {
    border: none;
    font-size: 1.2em;
}

.contato-info .right-side .btn {
    margin-left: 0;
}

/*FOOTER*/
footer {
    background-color: #006DC5;
    font-size: .9em;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFF;
    padding: 2em 0;
}

footer p {
    color: #FFF;
    font-weight: 400;
    font-size: 1em;
}

footer .desenvolvedor {
    font-size: .8em;
    padding: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .desenvolvedor a {
    color: #FFF;
    font-weight: bold;
    padding: .2em;
    transition: .3s;
}

footer .desenvolvedor a:hover {
    color: #000;
    background-color: #FFF;
    border-radius: .5em;
}

footer .icon-dev {
    width: 1.5em;
    margin-right: .5em;
}

/*PÁGINA SOBRE */
.sobre .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sobre .container img {
    width: 100%;
    border-radius: 1em;
    margin-bottom: 3em;
}

.sobre .sobre-text {
    width: 100%;
    font-size: .9em;
}

.sobre .sobre-text h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1.5em;
}

.sobre .sobre-text h3 {
    margin-top: 2em;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #0000009C;
}

/*./PÁGINA SOBRE */
/*PÁGINA SERVIÇOS
.background-header-servicos {
    background-image: url('../img/background-servicos.jpg');
}

.servicos .container p {
    text-align: center;
}

.servicos .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.servicos .row-card {
    background-color: #D3E6FD;
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    margin: 20px;
    transition: .3s;
}

.servicos .row-card:hover {
    background-color: #4F9CF9;
    h3, p {
        color: #FFF;
    }
}

.servicos .row-card img {
    background-color: #4F9CF9;
    border-radius: 15px;
    padding: .5em;
    margin-bottom: 1em;
}

.servicos .row-card h3 {
    font-size: 1.3em;
    margin-bottom: .5rem;
}

.servicos .row-card .service-description {
    text-align: left;
}

.dados {
    background-color: #D3E6FD;
}

.dados .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.dados .dado {
    text-align: center;
    margin: 15px;
    color: #000000BE;
}

.dados .dado img {
    background-color: #4F9BF9;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 15px;
    width: 80px;
}

.dados .dado p strong {
    font-size: 1.5em;
}

/*PÁGINA CONTATO
.background-header-contato {
    background-image: url('../img/background-contacto.jpg');
}

.contato-info {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.contato-info .left-side {
    width: 50%;
    padding: 30px;
    background-color: #4F9BF9;
    border-radius: 15px;
    margin-right: 50px;
    height: fit-content;
}

.contato-info .left-side div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contato-info .left-side div i {
    color: #FFF;
    font-size: 2em;
    text-align: center;
    width: 40px;
    margin-right: 20px;
}

.contato-info .left-side div p {
    font-size: 20px;
    color: #FFF;
}

.contato-info .right-side {
    width: 50%;
}

.contato-info .right-side input,
.contato-info .right-side textarea {
    display: block;
    border: 1px solid #CCC;
    color: #212121;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    transition: .3s;
}

.contato-info .right-side textarea {
    /*Retira a possibilidade de redimencionar o tamanho do textarea com o mouse
     * (canto inferior direito do textarea) 
    resize: none;
}

.contato-info .right-side input:focus,
.contato-info .right-side textarea:focus {
    border-color: #4F9BF9;
    border-width: 2px;
}

.contato-info .right-side button {
    border: none;
    font-size: 1.3em;
}